              <li class="nav-item">
                <a class="nav-link" href="/custom-requests/new">Custom Request</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="decorDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Home Decor
                </a>
                <ul class="dropdown-menu" aria-labelledby="decorDropdown">
                  <li><a class="dropdown-item" href="/user/psychometric-test">Take Personality Test</a></li>
                  <li><a class="dropdown-item" href="/user/psychometric-tests">My Test Results</a></li>
                </ul>
              </li> 